src/main/mule/jenkins-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e4029b3b-537b-4531-97cf-21cc922e31c4" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="jenkins-testFlow" doc:id="1c13ace9-6a4b-40d6-96b7-c520a987f3c5" >
		<http:listener doc:name="Listener" doc:id="fd298d05-8b9a-4081-b42c-bbcaede78d44" config-ref="HTTP_Listener_config" path="/jenkinns"/>
		<ee:transform doc:name="Transform Message" doc:id="46f53f12-85ce-4107-9272-1862a3fcd216" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Message": "Application has Successfully Deployed. Thanks!"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e69086b6-d60f-4091-bad7-56857b264235" message="#[payload]"/>
	</flow>
</mule>
